/lib/SDL2/include/SDL_opengl_glext.h filter=lfs diff=lfs merge=lfs -text
/lib/SDL2/lib/x64/SDL2.dll filter=lfs diff=lfs merge=lfs -text
/lib/SDL2/lib/x64/SDL2.lib filter=lfs diff=lfs merge=lfs -text
/lib/SDL2/lib/x64/SDL2test.lib filter=lfs diff=lfs merge=lfs -text
/lib/SDL2/lib/x86/SDL2.dll filter=lfs diff=lfs merge=lfs -text
/lib/SDL2/lib/x86/SDL2.lib filter=lfs diff=lfs merge=lfs -text
/lib/SDL2/lib/x86/SDL2test.lib filter=lfs diff=lfs merge=lfs -text
/lib/assimp/assimp-vc142-mt.dll filter=lfs diff=lfs merge=lfs -text
/lib/assimp/assimp-vc142-mt.lib filter=lfs diff=lfs merge=lfs -text
/lib/gl3w/GL/gl3w.h filter=lfs diff=lfs merge=lfs -text
/lib/gl3w/GL/glcorearb.h filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00004_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00005_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00035_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00047_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00100_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00153_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00161.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00161_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00162.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00162_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00174_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00187_source.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00243.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00284.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00294.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00298.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00303.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00304.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/a00364.html filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/api/jquery.js filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/man.doxy filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/manual.pdf filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/manual/frontpage1.png filter=lfs diff=lfs merge=lfs -text
/lib/glm/doc/manual/frontpage2.png filter=lfs diff=lfs merge=lfs -text
/lib/glm/util/autoexp.vc2010.dat filter=lfs diff=lfs merge=lfs -text
/lib/imgui/docs/CHANGELOG.txt filter=lfs diff=lfs merge=lfs -text
/lib/imgui/examples/libs/gl3w/GL/glcorearb.h filter=lfs diff=lfs merge=lfs -text
/lib/imgui/examples/libs/glfw/include/GLFW/glfw3.h filter=lfs diff=lfs merge=lfs -text
/lib/imgui/examples/libs/glfw/lib-vc2010-32/glfw3.lib filter=lfs diff=lfs merge=lfs -text
/lib/imgui/examples/libs/glfw/lib-vc2010-64/glfw3.lib filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui.cpp filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui.h filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui_demo.cpp filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui_draw.cpp filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui_internal.h filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui_tables.cpp filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imgui_widgets.cpp filter=lfs diff=lfs merge=lfs -text
/lib/imgui/imstb_truetype.h filter=lfs diff=lfs merge=lfs -text
/lib/imgui/misc/fonts/DroidSans.ttf filter=lfs diff=lfs merge=lfs -text
/lib/imgui/misc/fonts/Roboto-Medium.ttf filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb.h filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb_image.h filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb_image_resize.h filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb_tilemap_editor.h filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb_truetype.h filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb_vorbis.c filter=lfs diff=lfs merge=lfs -text
/lib/stb/stb_voxel_render.h filter=lfs diff=lfs merge=lfs -text
/data/models/bunny.obj filter=lfs diff=lfs merge=lfs -text
/data/models/conference.obj filter=lfs diff=lfs merge=lfs -text
/data/models/bunny_2.obj filter=lfs diff=lfs merge=lfs -text
/data/models/bunny_diffuse.png filter=lfs diff=lfs merge=lfs -text
/data/models/bunny_normal_map.png filter=lfs diff=lfs merge=lfs -text
/data/models/sponza.obj filter=lfs diff=lfs merge=lfs -text
/data/models/textures/background.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/background_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/chain_texture.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/chain_texture_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/floor_gloss.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lion.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lion2_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lion_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/spnza_bricks_a_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/spnza_bricks_a_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/spnza_bricks_a_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_arch_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_arch_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_arch_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_ceiling_a_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_ceiling_a_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_a_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_a_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_a_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_b_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_b_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_b_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_c_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_c_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_column_c_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_curtain_blue_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_curtain_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_curtain_green_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_details_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_details_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_fabric_blue_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_fabric_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_fabric_green_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_fabric_purple.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_fabric_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_flagpole_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_flagpole_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_floor_a_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_floor_a_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_roof_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_thorn_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_thorn_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/sponza_thorn_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_diff.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_hanging.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_plant.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_plant_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_round.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_round_ddn.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/vase_round_spec.png filter=lfs diff=lfs merge=lfs -text
/data/models/lost_empire-RGB.png filter=lfs diff=lfs merge=lfs -text
/data/models/lost_empire-RGBA.png filter=lfs diff=lfs merge=lfs -text
/data/models/lost_empire.jpg filter=lfs diff=lfs merge=lfs -text
/data/models/lost_empire.obj filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lost_empire-RGB.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lost_empire-RGBA.png filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lost_empire.jpg filter=lfs diff=lfs merge=lfs -text
/data/models/textures/lost_empire.obj filter=lfs diff=lfs merge=lfs -text
/data/models/back.png filter=lfs diff=lfs merge=lfs -text
/data/models/bottom.png filter=lfs diff=lfs merge=lfs -text
/data/models/front.png filter=lfs diff=lfs merge=lfs -text
/data/models/left.png filter=lfs diff=lfs merge=lfs -text
/data/models/right.png filter=lfs diff=lfs merge=lfs -text
/data/models/top.png filter=lfs diff=lfs merge=lfs -text
/src/lab_works/victor_toolkit/stb_image.h filter=lfs diff=lfs merge=lfs -text
/data/models/house-RGB.png filter=lfs diff=lfs merge=lfs -text
/data/models/house-RGBA.png filter=lfs diff=lfs merge=lfs -text
/data/models/house.jpg filter=lfs diff=lfs merge=lfs -text
/data/models/house.obj filter=lfs diff=lfs merge=lfs -text
/data/models/rungholt-RGB.png filter=lfs diff=lfs merge=lfs -text
/data/models/rungholt-RGBA.png filter=lfs diff=lfs merge=lfs -text
/data/models/rungholt.jpg filter=lfs diff=lfs merge=lfs -text
/data/models/rungholt.obj filter=lfs diff=lfs merge=lfs -text
/LEIGLAT_GIF_PROJET_M3D.gif filter=lfs diff=lfs merge=lfs -text
/Rapport_M3D___LEIGLAT-1.pdf filter=lfs diff=lfs merge=lfs -text
